Importation des bibliothéques

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df= pd.read_csv('Cmnts-facebook-Covid-19.csv')
df

                                       les commentaires  sentiments  sarcasme
0      yebkiw l3am kolou 3al tal9i7 w ki jebouh mamch...          1       1.0
1      الف الف الف الف الف شكر لكل من ساهم في هذا الإ...          1       1.0
2           A3mlo pass sanitaire ataw jme3a l kol tla9ah          0       1.0
3      Weldi 18 ans sejaltou o mejeni 7atta message o...          1       1.0
4                                   ربي يلطف بنا ويسترنا          0       1.0
...                                                  ...        ...       ...
29031  شبينا كان احنا في تونس نمشيو بالعمر احنا شباب ...          0       0.0
29032  حد يثبتلي بدراسة علمية تأكد الي كوفيد خطر على ...          0       0.0
29033                       و وينو حق الحوامل في التلقيح         -1       0.0
29034             معادش فيكم ثقة لقحو وجربو في السياسيين         -1       0.0
29035          لقح وحدك  عيش و إلا موت امورك مناش ملقحين         -1       0.0

[29036 rows x 3 columns]

In [ ]:
df.shape

(29036, 3)

In [ ]:
df.info() # sentiments de type int

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29036 entries, 0 to 29035
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   les commentaires   28914 non-null  object
 1   sentiments         28978 non-null  object
 2   sarcasme           29007 non-null  float64
dtypes: float64(1), object(2)
memory usage: 680.7+ KB

In [ ]:
df.columns

Index(['les commentaires ', 'sentiments', 'sarcasme'], dtype='object')

In [ ]:
df.head()

                                   les commentaires  sentiments  sarcasme
0  yebkiw l3am kolou 3al tal9i7 w ki jebouh mamch...          1       1.0
1  الف الف الف الف الف شكر لكل من ساهم في هذا الإ...          1       1.0
2       A3mlo pass sanitaire ataw jme3a l kol tla9ah          0       1.0
3  Weldi 18 ans sejaltou o mejeni 7atta message o...          1       1.0
4                               ربي يلطف بنا ويسترنا          0       1.0

In [ ]:
df.isnull().sum()

les commentaires     122
sentiments            58
sarcasme              29
dtype: int64

In [ ]:
df.columns=['commentaires','sentiments','sarcasme']

In [ ]:
df.dropna(axis=0, how='any',inplace=True) #supprimer ligne contenant nan values

In [ ]:
df.isnull().sum()

commentaires    0
sentiments      0
sarcasme        0
dtype: int64

In [ ]:
df

                                            commentaires sentiments  sarcasme
0      yebkiw l3am kolou 3al tal9i7 w ki jebouh mamch...          1       1.0
1      الف الف الف الف الف شكر لكل من ساهم في هذا الإ...          1       1.0
2           A3mlo pass sanitaire ataw jme3a l kol tla9ah          0       1.0
3      Weldi 18 ans sejaltou o mejeni 7atta message o...          1       1.0
4                                   ربي يلطف بنا ويسترنا          0       1.0
...                                                  ...        ...       ...
29031  شبينا كان احنا في تونس نمشيو بالعمر احنا شباب ...          0       0.0
29032  حد يثبتلي بدراسة علمية تأكد الي كوفيد خطر على ...          0       0.0
29033                       و وينو حق الحوامل في التلقيح         -1       0.0
29034             معادش فيكم ثقة لقحو وجربو في السياسيين         -1       0.0
29035          لقح وحدك  عيش و إلا موت امورك مناش ملقحين         -1       0.0

[28863 rows x 3 columns]

In [ ]:
df1=df.reset_index()

In [ ]:
df1

       index  ... sarcasme
0          0  ...      1.0
1          1  ...      1.0
2          2  ...      1.0
3          3  ...      1.0
4          4  ...      1.0
...      ...  ...      ...
28858  29031  ...      0.0
28859  29032  ...      0.0
28860  29033  ...      0.0
28861  29034  ...      0.0
28862  29035  ...      0.0

[28863 rows x 4 columns]

In [ ]:
df1.isnull().sum()

index           0
commentaires    0
sentiments      0
sarcasme        0
dtype: int64

In [ ]:
s=0
l0=[]
for  i in range(0,28863):
  if df1['sentiments'][i]  not in ['1','0', '-1'] :
    l0.append(i)
print(l0)
len(l0)

[448, 1353, 1375, 1763, 23096, 26069]

6

In [ ]:
s=0
l=[]
for  i in range(0,28863):
  if df1['sarcasme'][i] not in [1, 0] :
    l.append(i)
print(l)
len(l)

[4120, 5057, 5300, 7664, 8585, 8590, 8591, 8592, 8600, 8673, 8674, 8675, 8676, 8677, 8678, 8679, 8680, 8681, 8682, 8683, 8684, 8685, 8686, 8687, 8688, 8689, 8722, 8730, 8732, 8849, 8860, 8874, 9013, 20375, 20376, 20377, 20378, 20379, 20380, 20381, 20382, 20383, 20384, 20385, 20386, 20387, 20388, 20389, 20390, 20391, 20392, 20393, 20394, 20395, 20396, 20397, 20398, 20399, 20400, 20401, 20402, 20403, 20404, 20405, 20406, 20407, 20408, 20409, 20410, 20411, 20412, 20413, 20414, 20415, 20416, 20417, 20418, 20419, 20420, 20421, 20422, 20423, 21500, 21512, 21520, 21523, 21529, 21531, 21532, 21636, 21638, 21639, 21738, 21740, 21741, 21848, 21850, 21851, 21890, 21892, 21893, 22711, 24829, 26080, 26120, 26726, 27644, 28608]

108

In [ ]:
df1.drop(l, inplace=True)
df1.drop(l0, inplace=True)

In [ ]:
df2=df1.reset_index()

In [ ]:
df2

       level_0  index  ... sentiments sarcasme
0            0      0  ...          1      1.0
1            1      1  ...          1      1.0
2            2      2  ...          0      1.0
3            3      3  ...          1      1.0
4            4      4  ...          0      1.0
...        ...    ...  ...        ...      ...
28744    28858  29031  ...          0      0.0
28745    28859  29032  ...          0      0.0
28746    28860  29033  ...         -1      0.0
28747    28861  29034  ...         -1      0.0
28748    28862  29035  ...         -1      0.0

[28749 rows x 5 columns]

In [ ]:
s=0
l=[]
for  i in range(0,28749):
  if df2['sarcasme'][i] not in [1, 0] :
    l.append(i)
print(l)
len(l)

[]

0

In [ ]:
s=0
l=[]
for  i in range(0,28749):
  if df2['sentiments'][i] not in ['1', '0', '-1'] :
    l.append(i)
print(l)
len(l)

[]

0

In [ ]:
df2.drop('level_0', axis=1, inplace=True)
df2.drop('index', axis=1, inplace=True)

In [ ]:
df2

                                            commentaires sentiments  sarcasme
0      yebkiw l3am kolou 3al tal9i7 w ki jebouh mamch...          1       1.0
1      الف الف الف الف الف شكر لكل من ساهم في هذا الإ...          1       1.0
2           A3mlo pass sanitaire ataw jme3a l kol tla9ah          0       1.0
3      Weldi 18 ans sejaltou o mejeni 7atta message o...          1       1.0
4                                   ربي يلطف بنا ويسترنا          0       1.0
...                                                  ...        ...       ...
28744  شبينا كان احنا في تونس نمشيو بالعمر احنا شباب ...          0       0.0
28745  حد يثبتلي بدراسة علمية تأكد الي كوفيد خطر على ...          0       0.0
28746                       و وينو حق الحوامل في التلقيح         -1       0.0
28747             معادش فيكم ثقة لقحو وجربو في السياسيين         -1       0.0
28748          لقح وحدك  عيش و إلا موت امورك مناش ملقحين         -1       0.0

[28749 rows x 3 columns]

In [ ]:
# rendre colonne seniments en type numérique

In [ ]:
df2['sentiments']=pd.to_numeric(df2['sentiments'])

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28749 entries, 0 to 28748
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   commentaires  28749 non-null  object
 1   sentiments    28749 non-null  int64
 2   sarcasme      28749 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 673.9+ KB

In [ ]:
df2

                                            commentaires  sentiments  sarcasme
0      yebkiw l3am kolou 3al tal9i7 w ki jebouh mamch...           1       1.0
1      الف الف الف الف الف شكر لكل من ساهم في هذا الإ...           1       1.0
2           A3mlo pass sanitaire ataw jme3a l kol tla9ah           0       1.0
3      Weldi 18 ans sejaltou o mejeni 7atta message o...           1       1.0
4                                   ربي يلطف بنا ويسترنا           0       1.0
...                                                  ...         ...       ...
28744  شبينا كان احنا في تونس نمشيو بالعمر احنا شباب ...           0       0.0
28745  حد يثبتلي بدراسة علمية تأكد الي كوفيد خطر على ...           0       0.0
28746                       و وينو حق الحوامل في التلقيح          -1       0.0
28747             معادش فيكم ثقة لقحو وجربو في السياسيين          -1       0.0
28748          لقح وحدك  عيش و إلا موت امورك مناش ملقحين          -1       0.0

[28749 rows x 3 columns]

In [ ]:
df3=df2.groupby(['sentiments']).count()['sarcasme']

In [ ]:
df3.head()

sentiments
-1    11181
 0     8110
 1     9458
Name: sarcasme, dtype: int64